* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.logo img {
    max-width: 150px;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    background-color: #e0e0e0;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #d0d0d0;
}

.btn-dark {
    background-color: #000;
    color: #fff;
}

.btn-dark:hover {
    background-color: #333;
}

.image-links {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    position: relative;
}

.image-link {
    position: relative;
    display: inline-block;
}

.image-link img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s;
}

.image-link:hover img {
    transform: scale(1.05);
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 4.5em;
    text-align: center;
}

.slider {
    position: relative;
    max-width: 80%;
    margin: 40px auto;
    overflow: hidden;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease;
}

.slider-image {
    min-width: 100%;
    display: none;
}

.slider-image.active {
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.slider img {
    width: 80%;
    max-width: 1200px;
    height: 300px;
    object-fit: cover;
}

footer {
    background-color: #413f3f;
    padding: 40px 20px;
    color: #fff;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.footer-container .column {
    flex: 1;
}

.footer-container .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ayuntamiento-logo {
    margin-top: 10px;
    max-width: 120px;
}

.footer-container .column img {
    max-width: 150px;
}

.footer-container h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.footer-container p {
    line-height: 1.6;
}

.social-media {
    text-align: center;
    padding: 20px 0;
}

.social-media a img {
    width: 30px;
    margin: 0 10px;
}